<%= form_with(model: [@resume, @skill], local: true) do |form| %>
  <% if @skill.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@skill.errors.count, "error") %> impidieron guardar:</h2>
      <ul>
        <% @skill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.select :level, ['Básico', 'Intermedio', 'Avanzado'], {}, class: "form-control" %>
  </div>

  <%= form.submit %>
<% end %>

