<section id="about" class="section-padding clear">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-30">
        <h6 class="heading-subtitle">Sobre mí</h6>
        <h2 class="heading-title"><%= @resume.title || "Gilberto Tovar" %></h2> 

        <p class="mb-30">
        Hola, soy Gil, te platico un poco sobre mi, me considero emprendedor, desarrollador web full-stack, tengo poco más de 10 años de experiencia y a lo largo de ese tiempo he tenido la oportunidad de trabajar con distintas tecnologías, probar lenguajes, frameworks y herramientas según el proyecto lo requería, pero siempre regreso a Ruby on Rails. Hay algo en su claridad y estructura que encaja perfectamente con mi forma de pensar y de construir.
        </p>
        <p class="mb-30">
        Lo que comenzó como una simple curiosidad se convirtió en una manera de entender el mundo: estructurar ideas, resolver lo que otros ven como un enredo, y crear sistemas que realmente ayudan a las personas a trabajar mejor.
        </p>
        <p class="mb-30">
        Sigo sorprendiéndome con lo que se puede construir cuando uno entiende a fondo el problema, el contexto, y a veces incluso el modelo de negocio. Con el tiempo me he dado cuenta de que los proyectos que más disfruto tienen algo en común: lo financiero y lo fintech...
        </p>

        <% education = @resume.educations.order(start_date: :asc).last %>
        <% birthdate = @resume.metadata["birthdate"] rescue nil %>


        <div class="about-info">
          <div class="row">
            <div class="col-md-6">
              <% if birthdate.present? %>
                <% edad = ((Time.zone.now - Date.parse(birthdate).to_time) / 1.year.seconds).floor %>
                <p><b>Edad:</b> <%= edad %> años</p>
              <% end %>
              <p><b>Teléfono:</b> <%= contact_info("phone") %></p>
              <p><b>Estudios:</b> <%= education&.institution %> - <%= education&.field %></p>
            </div>
            <div class="col-md-6">
              <p><b>Grado:</b> <%= education&.degree %></p>
              <p><b>Correo:</b> <%= contact_info("email") %></p>
              <p><b>LinkedIn:</b> <%= contact_info("linkedin") %></p>
              <p><b>Freelance:</b> Disponible</p>
            </div>
          </div>
        </div>

        <div class="btn-2 mb-5">
          <a href="<%= cdn_asset('cv/cv_gilberto.pdf') %>" target="_blank">
            <span>Descargar CV&nbsp;&nbsp;<i class="ti-download"></i></span>
          </a>
        </div>
      </div>

      <div class="col-md-5 offset-md-1">
        <div class="about-img animate-box" data-animate-effect="fadeInUp">
          <div class="img">
            <img src="<%= cdn_asset('images/gil/foto6.jpeg') %>" alt="<%= @resume.title || 'Gilberto Tovar' %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
