<!-- Home & Slider Section -->
<section id="home">
  <div class="gorman-hero js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url(<%= cdn_asset('images/gil/foto11.png') %>;">
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-6 js-fullheight slider-text">
                <div class="slider-text-inner">
                  <div class="desc">
                    <h2><%= @resume.title %></h2>
                    <h6><%= @resume.subtitle %></h6>
                    <% email = @resume.contact_infos.find_by(kind: "email")&.value %>
                    <% phone = @resume.contact_infos.find_by(kind: "phone")&.value %>
                    <% city = "Monterrey, Nuevo León" %> <!-- o agregar como contact_info si lo prefieres -->
                    <div class="line"></div>
                    <ul class="cardvisit-list">
                      <div class="list">
                        <div class="icon"><i class="ti-headphone-alt"></i></div>
                        <div class="text">
                          <p><a href="tel:<%= phone %>"><%= phone %></a></p>
                        </div>
                      </div>
                      <div class="list">
                        <div class="icon"> <i class="ti-email"></i> </div>
                        <div class="text">
                          <p><a href="mailto:<%= email %>"><%= email %></a></p>
                        </div>
                      </div>
                      <div class="list">
                        <div class="icon"> <i class="ti-location-pin"></i> </div>
                        <div class="text">
                          <p><%= city %></p>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
