<!-- Resume section -->
<section id="resume" class="resume section-padding bg-img bg-fixed" data-overlay-brown="8" data-background="<%= cdn_asset('images/gil/foto9.jpeg') %>">
  <div class="container">
    <div class="row">
      <!-- Experiencia Laboral -->
      <div class="col-md-5 valign">
        <div class="o-hidden full-width">
          <div class="profile">
            <div class="block">
              <h4>Experiencia Laboral</h4>
              <% @resume.experiences.order(start_date: :desc).each do |exp| %>
                <%= link_to resume_experience_path(id: exp.id, resume_id: exp.resume_id), class: "item d-block text-white" do %>
                  <h6>
                    <%= exp.company %>
                    <% if exp.start_date && exp.end_date %>
                      <span><%= exp.start_date.year %> - <%= exp.end_date.year %></span>
                    <% elsif exp.start_date %>
                      <span><%= exp.start_date.year %> - Actual</span>
                    <% end %>
                  </h6>
                  <p><%= exp.position %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- Educación -->
      <div class="col-md-5 offset-md-2 valign">
        <div class="o-hidden full-width">
          <div class="profile">
            <div class="block">
              <h4>Educación</h4>

              <% @resume.educations.order(start_date: :desc).each do |edu| %>
                <div class="item">
                  <h6>
                    <%= edu.institution %>
                    <% if edu.start_date %>
                      <span><%= edu.start_date.year %></span>
                    <% end %>
                  </h6>
                  <p><%= edu.degree %><% if edu.field.present? %> - <%= edu.field %><% end %></p>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
