<!-- Logo -->
<div class="gorman-logo">
  <div class="desc">
    <div class="image-wrap">
      <%= link_to root_path do %>
        <img src="<%= cdn_asset("images/gil/foto8.jpeg") %>" alt="">
      <% end %>
    </div>
    <div class="title"><%= link_to "G. Tovar", root_path %></div>
  </div>
</div>
<!-- Menu -->
<nav class="gorman-main-menu">
  <ul>
    <li><%= link_to "Inicio", root_path, class: class_names("nav-link", "active": current_page?(root_path)) %></li>
    <li><%= link_to "Sobre mí", root_path(anchor: "about") %></li>
    <li><%= link_to "Experiencia Laboral", root_path(anchor: "resume"), class: class_names("active": controller_name == "experiences") %></li>
    <li><%= link_to "Conocimientos", root_path(anchor: "conocimientos") %></li>
    <li><%= link_to "Proyectos", root_path(anchor: "work"), class: class_names("active": controller_name == "projects") %></li>
    <li><%= link_to "Contacto", root_path(anchor: "contact")%></li>
  </ul>
</nav>
<!-- Sidebar Footer -->
<div class="gorman-footer">
  <div class="separator"></div>
  <p>©<%= Time.current.year %> <%= @resume.title %>. Todos los derechos reservados.</p>
</div>
