<!-- Logo -->
<div class="gorman-logo">
  <div class="desc">
    <div class="image-wrap">
      <%= link_to root_path do %>
        <img src="<%= cdn_asset('images/gil/foto8.jpeg') %>" alt="">
      <% end %>
    </div>
    <div class="title"><%= link_to "G. Tovar", root_path %></div>
  </div>
</div>
<!-- Menu -->
<nav class="gorman-main-menu">
  <ul>
    <li><%= link_to "Home", root_path(anchor: "home") %></li>
    <li><%= link_to "Sobre mí", root_path(anchor: "about") %></li>
    <li><%= link_to "Servicios", root_path(anchor: "services") %></li>
    <li><%= link_to "Proyectos", root_path(anchor: "work") %></li>
    <li><%= link_to "Contacto", root_path(anchor: "contact") %></li>
  </ul>
</nav>
<!-- Sidebar Footer -->
<div class="gorman-footer">
  <div class="separator"></div>
  <p>Copyright ©2025 G. Tovar<br>All right reserved.</p>
</div>
