<!-- Work Section -->
<section id="work" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="heading-subtitle">Proyectos destacados</h6>
        <h2 class="heading-title">Work showcase</h2> 
      </div>
    </div>

    <div class="row">
      <% @resume.projects.order(start_time: :desc).each_with_index do |project, index| %>
        <div class="work-container col-md-4">
          <a href="<%= resume_project_path(resume_id: @resume.id, id: project.slug) %>">
            <div class="work-zoomer">
              <img src="<%= cdn_asset("images/projects/#{project.cover || 'default.jpg'}") %>" alt="<%= project.name %>" />
              <div class="overlay">
                <div class="work-texts">
                  <h5><%= project.name %></h5>
                  <div class="line"></div>
                  <p><%= project.tools || project.category %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>
